h1
{
    color: red;
    font-family: tahoma;
    font-size : 25 pt;
}

body
{
    background-color: beige;
}

a
{
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14pt;
    color: darkred;
    padding-left : 120px;


}